footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(80, 80, 80);
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    height: 100px;
}

footer p {
    color: white;
    font-size: 20px;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column; 
        justify-content: center; 
        padding-left: 20px; 
        padding-right: 20px; 
        height: auto; 
        text-align: center; 
    }

    footer p {
        font-size: 18px; 
        margin: 5px 0; 
    }
}
