footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(80, 80, 80);
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    height: 100px;
}

footer p {
    color: white;
    font-size: 20px;
}

/* Адаптивність для малих екранів */
@media (max-width: 768px) {
    footer {
        flex-direction: column; /* Розміщає елементи футера по вертикалі */
        justify-content: center; /* Центрує елементи */
        padding-left: 20px; /* Менший відступ для мобільних пристроїв */
        padding-right: 20px; /* Менший відступ для мобільних пристроїв */
        height: auto; /* Динамічна висота, щоб футер міг адаптуватися до контенту */
        text-align: center; /* Центруємо текст */
    }

    footer p {
        font-size: 18px; /* Зменшуємо шрифт на мобільних пристроях */
        margin: 5px 0; /* Додаємо відступи між абзацами */
    }
}
