#mainDiv {
    background-image: url(../img/BlureMainFone.png);
    background-size: cover;
    background-position: center;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    margin: 0; 
    overflow: hidden; 
  }
  
  #regDiv {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 30px 40px; 
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    text-align: center; 
    width: 100%;
    max-width: 400px; 
  }
  
  form {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
  }
  
  form input,
  form button {
    width: 100%; 
    padding: 10px; 
    font-size: 16px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    margin-bottom: 20px;
  }
  label{
    font-size: 20px;
  }
  
  form button {
    background-color: #28a745; 
    color: white; 
    border: none; 
    cursor: pointer; 
    font-weight: bold; 
  }
  #regDiv a{
    color: black;
    margin-top: 20px;
  }
  
  
  form button:hover {
    background-color: #218838; 
  }
  
  